<header class="header">
  <div class="container">
    <div class="header__inner items-center flex justify-between">

      <button class="burger" aria-label="Open Menu" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>

      <a href="/" class="logo header__logo">
        <img src="img/svg/logo.svg" alt="Be My Broker">
      </a>

      <div class="header__info flex">
        <div class="header__info-menu flex direction-column" data-menu>
          <nav class="menu">
            <ul class="menu__list flex">
              <li class="menu__item">
                <a href="#" class="menu__link nav-link primary-hover primary-hover-dark">Agents</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link nav-link primary-hover primary-hover-dark">Operators</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link nav-link primary-hover primary-hover-dark">Pricing</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link nav-link primary-hover primary-hover-dark">Partners</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link nav-link primary-hover primary-hover-dark">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="header__btns-mobile flex">
            <a href="#" class="header__btn-mob btn btn-primary btn-outline">Log  In</a>
            <a href="#" class="header__btn-mob btn btn-primary btn-main ">Register</a>
          </div>
        </div>
        <div class="header__btns flex">
        <a href="#" class="header__btn header__btn-login header__btn-desktop btn btn-outline font-semibold uppercase">Log  In</a>
        <a href="#" class="header__btn header__btn-register header__btn-desktop btn btn-main uppercase font-semibold">Register</a>
        </div>
        <div class="language header__language">
          ENG
        </div>
      </div>

    </div>
  </div>
</header>
